/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
*= require bootstrap
*= require sb-admin
*= require datatables
*= require font-awesome

#flash_error {
    border: 1px solid #000066;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #cc3333;
}

#flash_notice {
    border: 1px solid #000066;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #A3B15A;
}

#error_message {
    color: #FF0000;
}



